@import url('inter.css?v=3.19');
@import url('iosevka-ss01.css?v=16.3.6');

/*THEME*/
:root {
    --font-family-inter: 'Inter';
    --font-family-iosevka: 'Iosevka SS01 Web';
    --font-fallback: -apple-system, BlinkMacSystemFont, "Noto Sans Arabic", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
    --font-ui: var(--font-family-inter), var(--font-fallback);
    --font-serif: Literata, serif;
    --font-mono: var(--font-family-iosevka);
    --fontSize: 15px;
    --bgColor: #fafafa;
    --fgColor: #111;
    --linkColor: #256;
    --linkColorVisited: #256;
    --linkColorHover: #f63;
    --preColorFg: #222;
    --preColorBg: #e8e8e8;
    --hrColor: #80808080;
    --highlightColorBg: #ff0;
    --highlightColorFg: #000;
    --pLeadColor: #747474;
    --tbodyRowEvenBgColor: #80808010;
}
@supports (font-variation-settings: normal) {
    :root {
        --font-family-inter: 'Inter var';
        --font-family-jetbrainsmono: 'JetBrainsMono var';
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bgColor: #090e0f;
        --fgColor: #eee;
        --linkColor: #7bc;
        --linkColorVisited: #7bc;
        --preColorFg: #dadada;
        --preColorBg: #00171f;
        --highlightColorBg: #ff0a;
        --highlightColorFg: #fff;
        --pLeadColor: #9e9e9e;
    }
}
@media print {
    :root{
        --bgColor: transparent;
    }
}

/*LAYOUT*/
html {
    --header-h-fb: 180px; /* the fallback value if JS is disabled */
    --header-h: ;         /* what we will get and manipulate via JS */
    --calculated-h: var(--header-h, var(--header-h-fb)); /* height of sticky header */
    scroll-padding-top: var(--calculated-h);
    overflow-y: auto;
}
body {
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    font:15px/1.5 var(--font-ui),sans-serif;
    letter-spacing: -0.004em;
    color:var(--fgColor);
    background: var(--bgColor);
}
article {
    margin:1em 0 3em
}
.site-banner{border-bottom: double var(--hrColor);margin: 0 -10px 0 -10px;padding: 1em 10px 0;position: sticky;top: 0;z-index: 1; backdrop-filter: blur(20px) saturate(120%);text-shadow: 0 0 .25em var(--bgColor);}
@media print{.site-banner{position: initial}}
footer{border-top: double var(--hrColor);margin-top: 2em}
hr{border-style: dotted; border-color: var(--hrColor);border-top: 0;}

/*NAVIGATION > BREADCRUMB*/
.breadcrumb {list-style: none;padding: 0;margin: 1em 0;}
.breadcrumb li {display: inline;}
.breadcrumb li:not(:first-child)::before {content: " \203a\ "; /* &rsaquo; */}
.breadcrumb li:last-child a:is(:link,:visited):not(:hover) {color: var(--fgColor);}

/*NAVIGATION > PREV. & NEXT PAGES*/
.prev-next {list-style: none;padding: 0;margin: 1em 0;display: flex; grid-gap: 1em;}
.prev-next li {display: flex; flex: 1 100%; flex-flow: column;}
.prev-next .prev {align-items: flex-start;}
.prev-next .next {align-items: flex-end;}

/*LINKS*/
a:link{color: var(--linkColor);text-decoration: none;}
a:visited{color: var(--linkColorVisited)}
a:is(:active,:hover){color: var(--linkColorHover)}
a:hover{text-decoration: 1px underline;}

/*HEADINGS*/
h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-ui);
    line-height:1.2;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.fancy-heading {
    font-family: var(--font-ui);
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.07em;
}

/*PARAGRAPHS*/
.par-lead {
    color: var(--pLeadColor);
    font-size: 1.125em;
    margin: -.75em 0 0;
}
.article-content {
    font-size: 1.0625rem;
    letter-spacing: -.01em;
    word-spacing: 0.06em;
}

/*PREFORMATTED TEXT*/
pre{font-family: var(--font-mono),monospace;letter-spacing: 0;color: var(--preColorFg); background: var(--preColorBg) !important;padding:2em 1em; border-radius: .25em; overflow-x: auto;line-height: 1.25}
@media print {pre{white-space: pre-wrap;}}
code{font-family: var(--font-mono),monospace;letter-spacing: 0;color: var(--preColorFg); background: var(--preColorBg); padding:0 .25em;border-radius: .25em;word-break: break-word;}
pre>code{padding: initial;}
code[data-lang]::after{content: attr(data-lang);position: absolute;top: .5em;right: .5em;text-transform: uppercase;font-family: var(--font-ui);font-size: .7em;font-weight: bold;background: var(--preColorBg);padding: .35em .5em;border-radius: .25rem .25rem 0 0;color: var(--hrColor);}
.highlight {position: relative}

/*FIGURES*/
figure {margin: auto}
figcaption {color: #888; font: 12px/1.5 var(--font-ui),sans-serif; text-align: center}
img {display: block; max-width: 100%; height: auto; margin: auto}

/*OTHER MARKUPS*/
abbr {text-decoration-thickness: 1px;cursor: help}
kbd, .kbd {
    font-family: var(--font-ui);
    font-size: 0.9375em;
    padding: 2px 10px;
    margin-left: .15em;
    margin-right: .15em;
    color: var(--fgColor);
    border-radius: 5px;
    background: var(--preColorBg);
    box-shadow: 0 0 2px 1px #bbb, inset 0 0 0 1px #fff;
}
@media (prefers-color-scheme: dark) {
    kbd, .kbd {
        background: var(--bgColor);
        box-shadow: 0 0 2px 2px #000, inset 0 0 0 1px #444;
    }
}
blockquote {position: relative}
blockquote::before {content: "";width: .2em;background-color: var(--hrColor);border-radius:.2em;display: block;position: absolute;height: 100%;left: -1.75em;}

/*TABLES*/
table {border-collapse: collapse}
tbody > tr:nth-child(even) {background-color: var(--tbodyRowEvenBgColor)}
thead > tr > th {border-bottom: 2px solid var(--hrColor)}
thead > tr > th, tbody > tr > td {padding: .5em .15em}

/*ACCESSIBILITY*/
@keyframes highlight { from { color: var(--highlightColorFg);background-color: var(--highlightColorBg);outline: 1px solid var(--highlightColorFg); } to { color: var(--fgColor);background-color: initial;outline: initial; } }
:target {animation: highlight 3s}
.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}
.skip:focus {
    position: static;
    width: auto;
    height: auto;
}

/*HELPER CLASSES*/
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
@media print {.no-print {display: none;}}
